@import "@fortawesome/fontawesome-free/css/all.css";

*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all 0.1s linear;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
